
body{
	margin: 0 10 10 10;
	min-width: 1200px;
	background: #333333;
	font-family: Lato, "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", 微软雅黑, sans-serif;
}

#head{
	width: 100%;
	margin: 0px auto;
	margin-bottom: 10px;
	min-width: 1050px;
}

/*logo*/
#head img{
	margin-top: 10px;
	height: 55px;
}

/*显示源码，查看提示，清空上传，注意在主页不要显示*/
#head_menu{
	min-width: 250px;
	margin: 20px 40px 10px 10px;
	float: right;
}

/*显示源码，查看提示，清空上传的样式；-webkit-border-radius：圆角；text-decoration：取消下划线*/
#head_menu a{
	background: #1F85DE;
	margin: 10px 10px 10px 10px;
	padding: 8px;
	-webkit-border-radius:5px;
	font-family:  黑体;
	color: #333333;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

/*下面是文件上传页面*/
ol{
	list-style:none;
}

ol li h3{
	font-family:"Arista2",helvetica,sans-serif;
	color: #E05D04;
	font-size: 18px;
}

p{
	color:#fff;
	margin: 15px 0px;
	letter-spacing: 5px;
	font-size: 14px;
}

p code {
    background: #323232;
    font-size: .8em;
    padding: 4px;
    margin-right: 5px;
    color: #fff55c;
    -webkit-border-radius:5px;
    letter-spacing: 0px;
}

#img{
	margin-top:20px;
	margin-left: 20px;
}

#main{
	border: 1px #ddd;
	width: 100%;
	float: left;
	border: 1px solid #000;
	padding-top: 20px;
	padding-bottom: 20px;	
}


/*下面是上传区域*/
#upload_panel{
	float: right;
	width: 78%;
	min-width: 500px;
	padding: 10 10 10 10;
	margin-right: 80px;
	background: #444444;
	-webkit-border-radius:5px;
}

#upload_panel ol{
	padding-right: 40px;
}

#upload_panel a{
	text-decoration: none;
	padding: 0px 0px 1px 0px;
	color: #fff55c;
}

#upload_panel a:hover {
	border-bottom:2px solid #FDA162;
}

/*下面是文件上传里面的具体*/
.input_file{
	-webkit-border-radius: 5px;
	background: #323232;
	border: 0px;
}


.button{
	background: #FFCC00;
	margin: 10px;
	padding: 4px;
	-webkit-border-radius:5px;
	font-family:黑体;
	border:0px;
}

#msg{
	color:red;
}

#img img{
	border:1px solid #000;
}

/*下面是最下面的footer处*/
#footer{
	color: #C1C1C1;
	float: left;
	background: #222222;
	width: 100%;
	line-height: 50px;
}

#footer a{
	text-decoration: none;
	color: #A5041D;
}

.mask {
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.6); 
	display:none; 
	position:fixed; 
	_position:absolute; 
	top:0; left:0; 
	z-index:99;
}

/*下面是提示对话框*/
.dialog {
	min-height:120px;
	background:#393D48;
	color:#fff;display:none;
	position:fixed; top:20%;
	left:50%; 
	z-index:100; 
	box-shadow:3px 3px 5px #000;
	-webkit-border-radius: 5px;
}

.dialog-title {
	background:#91440F;
	width:100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	-webkit-border-radius: 5px 5px 0px 0px;
}

.dialog a.close { 
	color:FFFFFF;
	position:absolute; top:0; 
	right:10; 
	z-index:101;
}


.dialog-content {
	line-height: 20px;
	padding:22px 10px 10px 10px;
	border-top: 1px solid #000;
	-webkit-border-radius: 0px 0px 5px 5px;
	/*过长文本自动换行*/
	word-break: break-all;
	word-wrap: break-word;
}


/*下面是左边手提琴折叠展开菜单*/

ul {
	list-style-type: none;
}

a {
	color: #b63b4d;
	text-decoration: none;
}

/** =======================
 * Contenedor Principal
 ===========================*/
h1 {
 	color: #FFF;
 	font-size: 24px;
 	font-weight: 400;
 	text-align: center;
 	margin-top: 80px;
 }

h1 a {
 	color: #c12c42;
 	font-size: 16px;
 }

 .accordion {
 	padding: 10 10 10 10;
	min-width: 120px;
	margin-left: 40px;
	background-color:#f2f2f2;
	overflow: hidden;
	float: left;
	width: 10%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	background: #1F85DE;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #333333;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 22px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }

