/*logo*/
#head img{
	margin-top: 10px;
	height: 55px;
}

/*显示源码，查看提示，清空上传，注意在主页不要显示*/
#head_menu{
	min-width: 250px;
	margin: 20px 40px 10px 10px;
	float: right;
}

/*显示源码，查看提示，清空上传的样式；-webkit-border-radius：圆角；text-decoration：取消下划线*/
#head_menu a{
	background: #1F85DE;
	margin: 10px 10px 10px 10px;
	padding: 8px;
	-webkit-border-radius:5px;
	font-family:  黑体;
	color: #333333;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
}

body{

}


/*下面是左边关卡选择*/
#menu{
	float: left;
	width: 10%;
	padding: 10 10 10 10;
	min-width: 120px;
	margin-left: 40px;
}

#menu ul li{
	list-style-type:none;
	text-align: center;
	margin-bottom: 5px;
}

#menu ul li a{
	text-decoration: none;
	font-size: 16px;
	padding: 5 20 5 20;
}

/*鼠标移动变色*/
#menu ul li a:hover{
	color: #E05D04;
	background: #1F85DE;
	-webkit-border-radius:5px;
}

/*下面是左边菜单*/
.tree {
	padding: 10 10 10 10;
	min-width: 120px;
	margin-left: 40px;
	background-color:#f2f2f2;
	overflow: hidden;
	float: left;
	width: 10%;
}

/*隐藏input*/
.tree li input{position: absolute;left: 0;opacity: 0;z-index: 2;cursor: pointer;height: 1em;width:1em;top: 0;}
/*所有菜单项设置统一样式*/
.tree li {position: relative;list-style: none;}
/*一级菜单加下边线*/
.tree>li{border-bottom: 1px solid #d9d9d9;}

/*给有子菜单的菜单项添加背景图标*/
.tree li label {max-width:999px;cursor: pointer;display: block;margin:0 0 0 -50px;padding: 15px 10px 15px 70px;background: url(../../img/arrow-down-o.png) no-repeat right center;background-position:95% 50%;white-space:nowrap;overflow:hidden;text-overflow: ellipsis; }
.tree li label:hover,li label:focus{background-color:#a7a7a7;color:#fff;}
/*清除所有展开的子菜单的display*/
.tree li input + ol{display: none;}
/*当input被选中时，给所有展开的子菜单设置样式*/
.tree input:checked + ol {
	padding-left:14px;
	height: auto;
	display: block;
}
.tree input:checked + ol > li {
	height: auto;
}
/*末层菜单为A标签，设置样式*/
.tree li.file a{margin:0 -10px 0 -50px;padding: 15px 20px 15px 70px;text-decoration:none;display: block;color:#333333;white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
.tree li.file a:hover,li.file a:focus{background-color:#a7a7a7;color:#fff;}
/*不同层级的菜单字体大小不同*/
.tree .folderOne{font-size: 18px;}
.tree .folderTwo{font-size:16px;}
.tree .folderThree{font-size:14px;}

/*下面是提示对话框*/
.dialog {
	min-height:120px;
	background:#393D48;
	color:#fff;display:none;
	position:fixed; top:20%;
	left:50%; 
	z-index:100; 
	box-shadow:3px 3px 5px #000;
	-webkit-border-radius: 5px;
}
